<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>MAIN MENU</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<script type="text/javascript" src="../js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<link rel="stylesheet" href="../css/bootstrap.min.css" th:src="@{/css/bootstrap.min.css}" type="text/css"></link>

</head>
<body style="margin:0;" >
<div class="container-fluid"  th:replace="common :: header('MAIN MENU')"></div>
<div class="container" style="margin-top:50px;">
    <div class="row">
    <div class="col-md-offset-2 col-md-8">
	  	<div th:if="${#authorization.expression('hasAnyAuthority(''__${session.authorityKindMap}__'')')}">
        		当前用户权限:<div th:text="${session.authorityKindMap}">...</div>
   		 </div>
	  	
        <a href="stow_menu.html" th:href="@{/stow_menu.html}" sec:authorize="hasAnyAuthority('ROLE_USER')"  
        		class="btn btn-primary  btn-lg btn-block" >MENU(普通以上权限)</a>
        <a href="#"  sec:authorize="!hasAnyAuthority('ROLE_USER','ROLE_ADMIN')" 
        		class="btn btn-primary  btn-lg btn-block" disabled="disabled">AAAAA</a>
        <hr/>      
        <a href="manage_menu.html" th:href="@{/manage_menu.html}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"  
        		class="btn btn-primary btn-lg btn-block">MENU(管理员以上权限)</a>
        <a href="#"  sec:authorize="!hasAnyAuthority('ROLE_ADMIN')" 
        		class="btn btn-primary btn-lg btn-block" disabled="disabled">管理MENU</a>
        <hr/>
    </div>
    </div>
</div>
<div class="container" th:replace="common :: footer"></div>
</body>
</html>